/deep/.header {
	padding: 0 20px !important;
}

.ant-menu-inline-collapsed {
	&.ant-menu-dark {
		.ant-menu-submenu-active,
		.ant-menu-submenu-open,
		.ant-menu-submenu-selected,
		.ant-menu-submenu-title &:hover {
			background-color: #DEF0E8;
		}
	}
}

.tabMenu {
	width: 45% !important;
	display: inline-block !important;
	text-align: center;
	padding: 0 !important;
}

.tabMenu:first-child {
	margin-right: 10% !important;
}

.tabMenuBorder {
	border-bottom: 2px solid #DEF0E8 !important;
}


/deep/.ant-input-search-enter-button {
	/deep/.ant-input-affix-wrapper {
		+ .ant-input-group-addon {
			padding: 0;
			border: 0;

			/deep/.ant-input-search-button {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
}

.corp-name {
	font-size:12px;
	color: #fa9635;
	margin-right: 5px;
}

.wx-name {
	font-size: 12px;
	color: #30ab55;
	margin-right: 5px;
}

.menu-sider {
	/deep/.ant-layout-sider-children {
		::-webkit-scrollbar {
			width: 0px!important;
			height: 0px!important;
		}
	}
	.icon-base{
		display: inline-block;
		width: 14px;
		height: 14px;
		margin-right: 12px;
		vertical-align: baseline;
		&.icon-address{
			background: url(../../assets/menu/icon-address.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-agent{
			background: url(../../assets/menu/icon-agent.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-appCenterList{
			background: url(../../assets/menu/icon-appCenterList.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-archive{
			background: url(../../assets/menu/icon-archive.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-channel{
			background: url(../../assets/menu/icon-channel.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-circleOfFriends{
			background: url(../../assets/menu/icon-circleOfFriends.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-drainage{
			background: url(../../assets/menu/icon-drainage.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-filingCabinetNew{
			background: url(../../assets/menu/icon-filingCabinetNew.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-group{
			background: url(../../assets/menu/icon-group.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-home{
			background: url(../../assets/menu/icon-home.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-manage{
			background: url(../../assets/menu/icon-manage.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-massMessage{
			background: url(../../assets/menu/icon-massMessage.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-red{
			background: url(../../assets/menu/icon-red.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-redForNew{
			background: url(../../assets/menu/icon-redForNew.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-redirect{
			background: url(../../assets/menu/icon-redirect.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-sidebar{
			background: url(../../assets/menu/icon-sidebar.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-sms{
			background: url(../../assets/menu/icon-sms.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-subAccount{
			background: url(../../assets/menu/icon-subAccount.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-todoManagement{
			background: url(../../assets/menu/icon-todoManagement.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-wechatManagement{
			background: url(../../assets/menu/icon-wechatManagement.png) center center no-repeat;
			background-size: 14px 14px;
		}
		&.icon-welcome{
			background: url(../../assets/menu/icon-welcome.png) center center no-repeat;
			background-size: 14px 14px;
		}
	}
	/deep/ .ant-menu-submenu-selected{
		color: #01B065!important;
		background: #DEF0E8;
		.icon-base{
			&.icon-address{
				background: url(../../assets/menu/icon-address-active.png) center center no-repeat!important;
				background-size: 14px 14px;
			}
		}
	}
	.ant-menu-vertical .ant-menu-submenu-active{
		color: #01B065!important;
		background: #DEF0E8;
	}
}
