html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body ::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}
body ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.ant-modal {
    min-width: 420px!important;
    max-width: 888px!important;
}

.ant-spin.ant-spin-show-text .ant-spin-text {
    font-size: 18px;
}

.ant-radio-button-wrapper {
    margin: 0 5px;
    padding: 0 3px;
    width: 42px;
}

.ant-form-item {
    margin-bottom: 0;
}

.ant-modal-body {
    min-height: 400px;
    max-height: 648px;
    padding: 15px 24px;
}

.ant-checkbox-group {
    width: 100%;
}

.ant-card-body {
    padding: 0!important;
}

.ant-layout.ant-layout-has-sider {
    height: 100%;
}

.ant-modal-body {
    min-height: auto;
    overflow-y: auto;
}

.ant-input-group-addon {
    background: #fff;
    padding: 0;
    border: 0;
}

.ant-pagination {
    text-align: center;
}

.video-js .vjs-big-play-button {
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -1em;
}

.ant-drawer-content-wrapper {
    width: 460px!important;
}

/*.ant-drawer-mask {*/
/*    background-color: transparent;*/
/*}*/

.ant-drawer-right .ant-drawer-content-wrapper {
    top: 64px;
}

.ant-drawer-body {
    padding: 0 0 50px;
    height: 100%;
}
.ant-drawer-header + .ant-drawer-body {
    height: calc(100% - 70px)!important;
}
.ant-tabs-bar {
    background: #f5f5f5;
    border-bottom: 0;
    /* padding: 0 20px; */
}
.ant-tabs,.ant-tabs-top-content {
    height: 100%;
}
.ant-tabs-top-content {
    padding-bottom: 100px;
}
/*modal头尾部底色*/
.ant-modal-header{
    background-color: #f5f5f5;
}
.ant-modal-footer{
    background-color: #f5f5f5;
}
.ant-menu-submenu:first-of-type {
    margin-top: 4px;
}
.ant-menu-submenu-title {
    margin-top: 0;
}
.ant-menu-submenu-active {
    color: #01b065!important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #DEF0E8;
}
.ant-empty {
    margin-bottom: 20px;
}

.ant-drawer /deep/ .corp-name {
    font-size:12px;
    color: #fa9635;
    margin-right: 5px;
}

.ant-drawer /deep/ .wx-name {
    font-size: 12px;
    color: #30ab55;
    margin-right: 5px;
}
body /deep/.ant-message {
    z-index: 99999999999 !important;
}

.ant-table table {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
/* 覆盖选项卡 */
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    border-color: #01b065;
    border-bottom: none
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    height: 38px;
    border: 1px solid #f5f5f5;
    background:transparent;
}